/* 폼 스타일 */
.reservation-form,
.consent-form {
  max-width: 600px;
  margin: 20px auto;
}
h1 {
  display: none;
}

.form-group {
  margin: 20px 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="text"],
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 15px 70px;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #e65100;
}
.text_style {
  font-size: x-small;
  color: #838383;
}

.form-group input {
  width: 500px;
  align-items: center;
}

.form-group input[type="radio"] {
  /* 크기 조정 */
  width: 25px;
  height: 25px;
  cursor: pointer;
}
/* 라디오 버튼 컨테이너 스타일 */
.form-group div {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

/* 라벨 스타일 */
.form-group label {
  margin-left: 8px;
  font-size: 16px;
  color: #333333;
}

/* 선택된 라디오 버튼 스타일 */
.form-group input[type="radio"]:checked + label {
  font-weight: bold;
  color: black;
}

.form-group .checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#consent {
  width: 50px;
}

.form-group .checkbox-wrap label {
  margin-left: 5px;
}

#marketingconsent {
  width: 50px;
}
.form-group .checkbox-wrap label {
  margin-left: 5px;
}

.form-group2 button {
  margin: 16px 0;
}
